@layer component {
  .root {
    background-color: var(--silver);
    gap: 4px;
    height: 100%;
    left: 0;
    padding: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow-y: auto;
  }
}