@layer component {
  .wrapper {
    background-color: var(--silver);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;
    left: 0;
    padding: 16px;
    position: fixed;
    top: 0;
    width: 100%;
  }
}