.resizer-handle {
  --size: calc(2px * var(--scale));

  position: absolute;
  width: var(--size);
  height: var(--size);

  &.top {
    left: 0;
    top: calc(var(--size) * -1);
    width: 100%;
    cursor: ns-resize;
  }

  &.bottom {
    left: 0;
    bottom: calc(var(--size) * -1);
    width: 100%;
    cursor: ns-resize;
  }

  &.left {
    left: calc(var(--size) * -1);
    height: 100%;
    cursor: ew-resize;
  }

  &.right {
    right: calc(var(--size) * -1);
    height: 100%;
    cursor: ew-resize;
  }

  &.top-left,
  &.top-right,
  &.bottom-left,
  &.bottom-right {
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    z-index: 1;
  }

  &.top-left {
    left: calc(var(--size) * -1);
    top: calc(var(--size) * -1);
    cursor: nwse-resize;
  }

  &.top-right {
    right: calc(var(--size) * -1);
    top: calc(var(--size) * -1);
    cursor: nesw-resize;
  }

  &.bottom-left {
    left: calc(var(--size) * -1);
    bottom: calc(var(--size) * -1);
    cursor: nesw-resize;
  }

  &.bottom-right {
    right: calc(var(--size) * -1);
    bottom: calc(var(--size) * -1);
    cursor: nwse-resize;
  }
}
