.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--scale) * 2px);
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: bold;
  padding: calc(2px * var(--scale));
  color: var(--muted);
  background-color: var(--muted-foreground);
  cursor: default;

  dialog:focus-within & {
    color: var(--accent-foreground);
    background: linear-gradient(to right, var(--navy), var(--blue));
  }

  .title-slot {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    height: calc(var(--scale) * 16px);
    min-width: calc(var(--scale) * 50px);

    .title {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      font-size: calc(12px * var(--scale));
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: 0;
      line-height: calc(16px * var(--scale));
    }
  }
}
