.button {
  appearance: none;
  min-width: calc(var(--scale) * 16px);
  min-height: calc(var(--scale) * 16px);
  outline-style: none;
  background-color: var(--silver);
  font-family: inherit;

  &.md {
    padding: calc(var(--scale) * 2px) calc(var(--scale) * 4px);
  }

  &.lg {
    padding: calc(var(--scale) * 4px) calc(var(--scale) * 8px);
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:focus-within {
    .content {
      outline-style: dotted;
    }
  }
}
