.button {
    appearance: none;
    min-width: 16px;
    min-height: 16px;
    outline-style: none;
    background-color: var(--silver);

    :focus-within {
        .button__content {
            outline-style: dotted;
        }
    }
}