.taskbar {
	display: flex;
	gap: calc(var(--scale) * 4px);

	.taskbar__divider {
    border-style: inset;
	}

	.taskbar__tasks {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
	}

	.taskbar__system-tray {
    display: flex;
    align-items: center;
    justify-content: center;
	}
}