.taskbar {
  display: flex;
  gap: calc(var(--scale) * 4px);

  .divider {
    border-style: inset;
  }

  .tasks {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .system-tray {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
