.icon {
  display: inline-block;
  image-rendering: pixelated;
  flex-shrink: 0;
}

.sm {
  width: calc(var(--scale) * 16px);
  height: calc(var(--scale) * 16px);
}

.md {
  width: calc(var(--scale) * 32px);
  height: calc(var(--scale) * 32px);
}

.lg {
  width: calc(var(--scale) * 48px);
  height: calc(var(--scale) * 48px);
}
