@layer component {
  .button {
    color: var(--foreground);
    background-color: var(--background);
    padding: 0 8px;
    border-style: outset;
    min-height: 24px;

    &:active {
      border-style: inset;
    }

    &:disabled {
      pointer-events: none;
      color: var(--disabled-text-color);
      text-shadow: var(--disabled-text-shadow);
    }

    &:focus:not(:active) {
      outline: var(--foreground) dotted 1px;
      outline-offset: -4px;
    }
  }
}