@layer component {
  .label {
    color: var(--foreground);
    font-size: var(--font-size);

    &.is-inline {
      width: 100px;
      flex-shrink: 0;
      text-align: end;
    }
  }

  .root {
    &:has(.input:disabled, .input[readonly]) .label {
      color: var(--disabled-text-color);
      text-shadow: var(--disabled-text-shadow);
    }
  }

  .input {
    background-color: var(--field-background);
    color: var(--field-foreground);
    border: 2px inset var(--border-color);
    padding: 2px 4px;
    font-size: var(--font-size);
    outline: none;
    width: 100%;

    &::selection {
      color: var(--primary-foreground);
      background-color: var(--primary);
    }

    &:disabled,
    &[readonly] {
      color: var(--disabled-text-color);
      text-shadow: var(--disabled-text-shadow);
      background-color: var(--background);
    }
  }
}
