@font-face {
  font-family: "MS Sans Serif";
  src: url("./assets/fonts/ms-sans-serif/ms_sans_serif.woff2") format("woff2"),
    url("./assets/fonts/ms-sans-serif/ms_sans_serif.woff") format("woff"),
    url("./assets/fonts/ms-sans-serif/MS Sans Serif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MS Sans Serif";
  src: url("./assets/fonts/ms-sans-serif-bold/ms_sans_serif_bold.woff2") format("woff2"),
    url("./assets/fonts/ms-sans-serif-bold/ms_sans_serif_bold.woff") format("woff"),
    url("./assets/fonts/ms-sans-serif-bold/MS Sans Serif Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@layer theme {
  .thallos {
    /* Basic Colors */
    --black: #222;
    --blue: #00f;
    --gray: #808080;
    --navy: #000080;
    --silver: #c0c0c0;
    --teal: #1084d0;
    --white: #fff;

    /* System Colors */
    --background: var(--silver);
    --foreground: var(--black);
    --primary: var(--navy);
    --primary-foreground: var(--white);
    --field-foreground: var(--black);
    --field-background: var(--white);
    --muted: var(--gray);

    /* Sizes */
    --font-size: 12px;
    --line-height: 1.5rem;

    /* System */
    --disabled-text-color: var(--gray);
    --disabled-text-shadow: 1px 1px 0px var(--white);
    --border-color: var(--white);

    /* Styles */
    font-size: var(--font-size);
    line-height: var(--line-height);

    b {
      font-weight: bold;
    }
  }
}

@layer reset {
  .thallos,
  .thallos * {
    appearance: none;
    background: transparent;
    box-sizing: border-box;
    border-color: var(--border-color);
    color: inherit;
    display: inline-block;
    font-family: "MS Sans Serif", sans-serif;
    font-size: var(--font-size);
    font-weight: normal;
    line-height: 16px;
    list-style: none;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 0;
    white-space: nowrap;

    &::selection {
      background-color: transparent;
      color: inherit;
    }
  }
}